apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: microblog
spec:
  selector:
    app: db
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
---

apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: microblog
spec:
  selector:
    app: auth
  ports:
    - name: http
      port: 5000
      targetPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: blog
  namespace: microblog
spec:
  selector:
    app: blog
  ports:
    - name: http
      port: 5000
      targetPort: 5000

---

apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: microblog
spec:
  selector:
    app: nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
